
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.elx.cloud
  resources:
  - nodegroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.elx.cloud
  resources:
  - nodegroups/finalizers
  verbs:
  - update
- apiGroups:
  - k8s.elx.cloud
  resources:
  - nodegroups/status
  verbs:
  - get
  - patch
  - update
